# Hello World using print()

In [1]:
#Basic of Programming. It always starts with this.
print('Hello World')

Hello World

# String

In [2]:
#any character or number within single or double quotes

string_a = 'Artificial Intelligence'
string_a

'Artificial Intelligence'

In [3]:
string_b = "Machine Learning"
string_b

'Machine Learning'

In [4]:
#3rd method. whats the use of using single and double quotes when we can use only single. Its always good practice to use a combination of single and double quotes to avoid issues in code.
#ex: 'London' vs "London's"

string_c = "London's"
string_c

"London's"

# Variable Assignment

In [5]:
# It is a container where you can store data. Take for example a book storing box. A book that you are going to store in the box is the data and the container is the variable.

#A is the variable/container

a = 'abc'
a

'abc'

# List , Tuple and Dictionary

In [6]:
#List is mutable and can be changed with data manupulation operations such as add and remove.
uk= ['England', 'Scotland','Wales', 'Northern Ireland']

print(uk)

['England', 'Scotland', 'Wales', 'Northern Ireland']

In [7]:
#dict it has key and value pairs mutable again

capitals = {'England':'London','Scotland':'Edinburgh','Wales':'Cardiff','Northern Ireland':'Belfast'}
print(capitals)

{'England': 'London', 'Scotland': 'Edinburgh', 'Wales': 'Cardiff', 'Northern Ireland': 'Belfast'}

In [8]:
#Tuples is immutable and cannot be changed with data manipulation ops

universities = ('Cardiff','LSE','Cambridge','Oxford')
print(universities)

('Cardiff', 'LSE', 'Cambridge', 'Oxford')

# Indexing

In [9]:
#Indexing in List

print(uk)

uk[2]

['England', 'Scotland', 'Wales', 'Northern Ireland']

'Wales'

In [10]:
#indexing in Dict
# As Dict has no indexes we need to use the key values for references.

print(capitals)

capitals['Wales']

{'England': 'London', 'Scotland': 'Edinburgh', 'Wales': 'Cardiff', 'Northern Ireland': 'Belfast'}

'Cardiff'

In [11]:
#indexing in Tuples

print(universities)

universities[0]

('Cardiff', 'LSE', 'Cambridge', 'Oxford')

'Cardiff'

# Slicing

It is used to access an element in a list, tuple or string

In [12]:
#Python always starts from zero. One more thing is that python does not include the last number of index or element when asked for.
#Ex uk[0:3]- starts from England since its zero but stops at wales tho the index is until 3 (Northern Ireland) which technically should be included.
print(uk)
uk[0:3]

['England', 'Scotland', 'Wales', 'Northern Ireland']

['England', 'Scotland', 'Wales']

In [13]:
#Same concept as above
print(universities)

universities[0:2]

('Cardiff', 'LSE', 'Cambridge', 'Oxford')

('Cardiff', 'LSE')

# Print Formatting

It is used to print out an element using the .format method and the F-string literal

In [14]:
#defining within the format statement
#It is denoted by .format()
print('My name is Pilot {0} {1}'.format('Pilot','Pilot'))

My name is Pilot Pilot Pilot

In [15]:
print('I am a student at a {c} {u}'.format(c='UK',u='university'))

I am a student at a UK university

In [16]:
#print formatting using string and list. Same can be implemented for tuple and Dict

print('The field of {a} is changing the world \n'.format(a=string_a))

print('{m} a type of artificial intelligence that enables self-learning \nfrom data and then applies that learning without the need for human intervention.'.format(m=string_b))

The field of Artificial Intelligence is changing the world

Machine Learning a type of artificial intelligence that enables self-learning
from data and then applies that learning without the need for human intervention.

F String Literal

In [17]:
#It is the same as the above method but shorter lines of code. Better for coding efficiency.
# It is denoted by 'f' infrong of the print statment
#Use "" Quotes inside curly braces.

print(f'I live in the {"United Kingdom"} and study at a {"UK"} {"Univesity"}')

I live in the United Kingdom and study at a UK Univesity

# Sets

In [18]:
# A set of Unique Elements is called a set

#Its mutable where data manipulation can be performed in it

#Its displays as a dictionary

a = ('Parallel')

set(a)

{'P', 'a', 'e', 'l', 'r'}

In [19]:
#Frozen Set

#Its immutable where data manipulation cant be perfomed.

#It displays as a tuple

b = ['Mississippi']

frozenset(b)

frozenset({'Mississippi'})

# Data Manipulation

In [20]:
#Used to add a value into a list or Dict
uk.append('India')
print(uk)

['England', 'Scotland', 'Wales', 'Northern Ireland', 'India']

In [21]:
#pops the last value if no index is specified
uk.pop()
print(uk)

['England', 'Scotland', 'Wales', 'Northern Ireland']

In [38]:
#Used to remove value from Dict
uk.remove('India')

In [22]:
#Pops using index
uk.pop(0)
print(uk)

['Scotland', 'Wales', 'Northern Ireland']

In [27]:
#.upper()
temp_stri = 'Aircrafts are beautiful Machines'

temp_stri.upper()

'AIRCRAFTS ARE BEAUTIFUL MACHINES'

In [28]:
#.lower()
temp_stri.lower()

'aircrafts are beautiful machines'

In [29]:
#Used to capitalize
temp_stri.capitalize()

'Aircrafts are beautiful machines'

In [30]:
#used to split text/string .split() and .reverse() used to reverse the string.

temp_final = temp_stri.split()

temp_final.reverse()

print(temp_final)

['Machines', 'beautiful', 'are', 'Aircrafts']

# Comparison & Logical Operators

In [31]:
# ==,>=,<=,!=,
# It returns boolean- True or False

1 > 2

False

In [ ]:
10 == 10

True

In [ ]:
10 > 8

True

In [ ]:
3 != 3

False

In [ ]:
#Logical Operator and and or

# For and operator both conditions should be fullfiled

10 == 10 and 11 > 8

True

In [ ]:
#for or operator any one condition should be fulfilled.
11 == 10 or 10 == 10

True

# Important Control flow and Loops.

if-else statment
for loop
while loop

In [ ]:
#if statement is a control flow command.
#Indentation is very important

#if-else, if-elif-else etc..

#If a certain condition is true move to the result.

prog_1 = int(input('Enter a number'))

if prog_1 % 2 == 0:
  print(f'The number {prog_1} is even')
else:
  print(f'The number {prog_1} is odd')

Enter a number2
The number 2 is even

In [ ]:
#same program without input command

prog_2 = 2

if prog_2 % 2 == 0:
  print(f'The number {prog_1} is even')
else:
  print(f'The number {prog_1} is odd')

The number 2 is even

In [ ]:
# For Loop
#Iterate over each and every number.
#You should use loops when multiple numbers are there. for single number use control flow only.

prog_3 = [1,2,3,4,5,6,7,8,9,10]

for num in prog_3:
  if num % 2 == 0:
    print(f'The number {num} is even')
  else:
    print(f'The number {num} is odd')

The number 1 is odd
The number 2 is even
The number 3 is odd
The number 4 is even
The number 5 is odd
The number 6 is even
The number 7 is odd
The number 8 is even
The number 9 is odd
The number 10 is even

In [ ]:
#Amrit or any value specified after for is a placeholder. it can be anything you like.
for amrit in range(0,10):
  print('amrit')

amrit
amrit
amrit
amrit
amrit
amrit
amrit
amrit
amrit
amrit

In [ ]:
for amrit in range(0,100,7):
  print(amrit)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [ ]:
# While Loop.
# Used to iterate over and over until a certain condition is false.

prog_5 = 0

while prog_5 <= 10:
  print(f'The value is {prog_5}')

  prog_5 += 1

The value is 0
The value is 1
The value is 2
The value is 3
The value is 4
The value is 5
The value is 6
The value is 7
The value is 8
The value is 9
The value is 10

# Functions

In [ ]:
#Initated using the def keyword
#In Python, a function is a reusable block of code that performs a specific task or set of tasks.
#Its recommended to use snake casing for functions accroding to pep8.

def even_or_odd(a):
  result = a % 2 == 0
  return result

even_or_odd(2)

True

In [ ]:
#making code efficient by using return on the operation directly than assiging it to a temp variable
def even_or_odd(a):
  return a % 2 == 0

even_or_odd(2)

True

In [ ]:
#definining a function
def even_check(number_list):

  even_list = [] #place holder variable
  for num in number_list:
    if num % 2 == 0:
      even_list.append(num)
    else:
      pass #do nothing
  return even_list #breakout and return the value to the placeholder.

even_check([1,2,3,4,5,6,7,8,9,10])

[2, 4, 6, 8, 10]

In [ ]:
work_hours = [('abby',100),('billy',4000),('cassie',800)]

def employee_check_year(work_hours):

    max_hours = 0
    employee_of_month = ''

    for employee,hours in work_hours:
      if hours > max_hours:
        max_hours = hours
        employee_of_month = employee
      else:
        pass


    return (employee_of_month,max_hours)

employee_check_year(work_hours)

('billy', 4000)