# CMT309/314 - Week 2 - *12 October 2023*
## Lab session: **Hello World**
This lab session is for you to exercise your skills to create variables, sequences, printing types, values, and using some sequence methods for detailed user I/O operations.

### Warm up Exercise
 1. Please create one `str`, one `list`, one `tuple` and one `dict` sequences and assign them to variables of your choice. *Please make sure they have more than one elements!* Then print each of these variables. Example output:

 ```
 Oktay
[3.675, 'Ole', [1]]
('cdr', 9, 'b', [], 4.4444)
{'Best': 'Man Utd.', 'GOAT': 'Cristiano', 'Shirt no': 7}
 ```

 2. By using a **single** `print()` command, print the types of each variable you created. Make sure each type output should be printed in a new line with one more additional empty line between them (*Hint: use `sep=` option in `print` command*). Example output:

    ```
    <class 'str'>

    <class 'list'>

    <class 'tuple'>

    <class 'dict'>
    ```

 3. Use a **single** `print()` command again, this time to print *values* of the last element of each sequence. This time your seperator will be `' .!?. '`. (*ATTENTION: Dictionary is not an ordered sequence and does not have last element!*). Example output **could** be:

 ```
y .!?. [1] .!?. 4.4444 .!?. 7
 ```

 4. Use `len()` fundtion and `"".format()` method, create a new `str` which records each sequence's length into a single meaningful sentence. Then print this new string you created. Example could be:

  ```
  I have four sequences. String has a length of 5 whilst my list sequence has 3. I also have a tuple with length of 5 and dictionary with length of 3.
  ```

In [54]:
print(type(name),type(planes),type(ML),type(Phone), sep='\n\n')

<class 'str'>

<class 'list'>

<class 'tuple'>

<class 'dict'>

In [48]:
#1 Printing a String

name= 'Pilot'
print(name)

Pilot

In [17]:
#2 Printing a List
planes = ['Airbus','Boeing','ATR','Embraer']
print(planes)

['Airbus', 'Boeing', 'ATR', 'Embraer']

In [18]:
#3 Printing a Tuple

ML = ('Supervised Learning','Unsupervised Learning','Ensemble techniques','NLP')
print(ML)

('Supervised Learning', 'Unsupervised Learning', 'Ensemble techniques', 'NLP')

In [19]:
#4 Printing a Dict

Phone = {'Android':'Samsung', 'IOS':'Apple'}
print(Phone)

{'Android': 'Samsung', 'IOS': 'Apple'}

### First Program
Now please make a search for "Sequence Methods" for each sequence type, choose one sequence method for each type we have. Apply these methods to your sequences and print results in meaningful sentences using `"".format()`. Example output:

```
For my string Oktay, I applied method of  .upper()  and the result is OKTAY

For my list [3.675, 'Ole', [1]], I applied method of  .append("New Element")  and the result is [3.675, 'Ole', [1], 'New Element']

For my tuple ('cdr', 9, 'b', [], 4.4444), I applied method of  .index(9)  and the result is 1

For my dictionary {'Best': 'Man Utd.', 'GOAT': 'Cristiano', 'Shirt no': 7}, I applied method of  .pop("Best")  and the result is {'GOAT': 'Cristiano', 'Shirt no': 7}
```

In [55]:
#Appended Lower case

name.lower()

'pilot'

In [21]:
planes.append('bombardier')
print(planes)

['Airbus', 'Boeing', 'ATR', 'Embraer', 'bombardier']

In [27]:
ML[1]

'Unsupervised Learning'

In [24]:
Phone.pop('IOS')

'Apple'

### Mathematical Operators and Data Types
1. Create two integers 'a' and 'b' where a = 2 and b = 5 and print the sum.
Example output:

```
7
```

In [29]:
a = 2
b = 5
out = a + b
print(out)

7

2. Using str() and '+' concatenate a and b. Example output:

```
25
```

In [30]:
result = str(a) + str(b)
print(result)

25

3. Create a new variable c = '2' with quotes. Using 'int()' or otherwise calculate a + c. Example output:

```
4
```

In [31]:
c ='2'
int(c) + int(a)

4

4. Print b%a, ie the remainder. Check your answer by hand. Example output:

```
1
```

In [32]:
d = b%a
print(d)

1

5. Print the value and types of a, c, d and e, where d = a/b and e = a>b, consider the output. Example output:

```
a= 2 <class 'int'>
c= 2 <class 'str'>
d= 0.4 <class 'float'>
e= False <class 'bool'>
```

In [47]:
a = 2

b = 5

c = 2

d = a/b
e = a>b

#printing a,b,c,d,e and thier dtypes

print('a:', a, 'type' ,type(a))
print('b:', b, 'type', type(b))
print('c:', c, 'type', type(c))
print('d:', d, 'type', type(d))
print('e:', e, 'type', type(e))

a: 2 type <class 'int'>
b: 5 type <class 'int'>
c: 2 type <class 'int'>
d: 0.4 type <class 'float'>
e: False type <class 'bool'>

6. Using *only* mathematical operators (ie no 'if' statement), print and the 'input' function create a short program that returns as boolean if the entered number is less than 10. Create one multi-line comment, and one single line comment (in this case they may be trivial). Example output (I entered '7'):

```
Check if number is less than 107
True
```

In [34]:
a = int(input('Check if number is less than 10: ')) #Get a user Input

#convert the number to INT

con_input = int(a)

resultant = con_input < 10 #action the logic

print(resultant) #print the Boolean

Check if number is less than 10: 1
True